[submodule "appointment-entity"]
	path = appointment-entity
	url = https://sabareesv@bitbucket.org/techxlnsemr/appointment-entity.git
	branch = develop
[submodule "appointment-utils"]
	path = appointment-utils
	url = https://sabareesv@bitbucket.org/techxlnsemr/appointment-utils.git
	branch = develop
[submodule "entity"]
	path = entity
	url = git@github.com:AbineshKrishnan/entity.git
	branch = main
[submodule "utils"]
	path = utils
	url = git@github.com:AbineshKrishnan/utils.git
	branch = main
